@import "tailwindcss";

body{
  text-decoration: none;
  
}

.justify-end{
  color: white;
}

.icons section{
  margin: 0 .6rem 0;
  color: rgba(66, 66, 66, 0.938)
}

.merianes{
  position: relative;
}

.contact a{
  margin: 0 .7rem;
  
}

.icons{
  position: relative;
  display: flex;
  
  span{
    cursor: pointer;
  }
}

.counts{
  position: absolute;
  left: 16px;
  bottom: 1.2rem;
  color: whitesmoke;
  background-color: rgb(25, 132, 219);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  
}
.counts p{
  font-size: .7rem;
 display: flex;
 padding: .27rem 0;
 justify-content: center;
 align-items: center;
} 

.imgs{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navmenu{
  position: fixed;
  top:  0;
  left: -100%;
  transition: .5s;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 200px;
  z-index: 2;
  box-shadow: 0 3px 12px rgb(56, 56, 56);
}

.navmenu .expended{
  left: 0;
}