@import "tailwindcss";

body{
  text-decoration: none;
  
}

.justify-end{
  color: white;
}

.icons button{
  /* display: inline-block; */
  margin: 0 .6rem 0;
  color: gray;
  cursor: pointer;
}

.merianes{
  position: relative;
}

.contact a{
  margin: 0 .7rem;

}

.icons{
  position: relative;
}

.counts{
  position: absolute;
  left: 16px;
  bottom: 1.4rem;
  color: whitesmoke;
  width: 20px;
  height: 20px;
  
}
.counts p{
  background-color: rgb(9, 27, 87);
  border-radius: 50%;
  font-size: .7rem;
  padding: .1rem;
}