.auth{
    background: linear-gradient(180deg , rgba(0, 0, 0, 0.884) , rgba(0, 0, 0, 0.897)) , url('../imgs/section.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.login{
    background-color: rgb(32, 32, 32);
    padding: 20px 30px 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    margin: 2rem;

}

.register{
    background-color: rgb(32, 32, 32);
    padding: 20px 30px 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    margin: 2rem;

}


.inputs{
    margin: 16px 0;
    
    input{
        padding: .5rem 1rem;
        width: 100%;
        border-radius: 3px;
        outline: none;
    }
}

.btn button{
    padding: .4rem 1rem;
    background-color: rgba(255, 255, 255, 0.945);
    cursor: pointer;
    color: rgb(5, 5, 5);
    border-radius: 3px;
    width: 100%;
}

.btn p{
    text-align: center;
    padding:1rem;

    a{
        color: rgba(81, 150, 255, 0.904);
    }
}