.logo main {
  color: rgb(25, 132, 219);
}

.logo {
  font-weight: bold;
  font-size: 1.1rem;
  color: rgba(66, 66, 66, 0.938);
  position: relative;
  z-index: 3;
}


.head {
  background-color: antiquewhite;
  min-height: 100vh;
}

.header {
  padding: 1rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}


.navLinks{
  position: fixed;
  bottom: -100% ;
  display: flex;
  left:0 ;
  flex-direction: column;
  border-radius: 0 0 0 10px;
  transition: .3s;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 200px;
  z-index: 2;
  box-shadow: 0 3px 12px rgb(56, 56, 56);
}

.navLinks.active{
  bottom: 0;
}
