.logo main {
  color: rgb(25, 132, 219);
}

.logo {
  font-weight: bold;
  font-size: 1.1rem;
  color: rgba(66, 66, 66, 0.938);
  position: relative;
  z-index: 3;
}


.head {
  background-color: antiquewhite;
  min-height: 100vh;
}

.header {
  padding: 1rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}
.navlink{
  position: fixed;
  top:  0;
  left: 0;
  display: none;
  transition: .5s;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 400px;
  z-index: 2;
  box-shadow: 0 3px 12px rgb(56, 56, 56);
}

.navlink h2{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 25vh;
  padding: 1.3rem;
}

.navmenu{
  position: fixed;
  top:  0;
  left: -200px;
  border-radius: 0 0 0 10px;
  transition: .8s;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 200px;
  z-index: 2;
  box-shadow: 0 3px 12px rgb(56, 56, 56);

  &.expanded{
    left: 0;
  }
}

